<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>HelveticaNowDisplay-Bold.ttf</string>
		<string>HelveticaNowDisplay-Regular.ttf</string>
		<string>HelveticaNowDisplay-Light.ttf</string>
		<string>HelveticaNowDisplay-Medium.ttf</string>
		<string>HelveticaNowDisplay-Black.ttf</string>
		<string>HelveticaNowDisplay-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
